@charset "UTF-8";

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  /* src: url("../font/Noto_Sans_KR/NotoSansKR-Light.eot");
  src: url("../font/Noto_Sans_KR/NotoSansKR-Light.eot?#iefix") format('embedded-opentype');
  src: url("../font/Noto_Sans_KR/NotoSansKR-Light.woff2") format("woff2");
  src: url("../font/Noto_Sans_KR/NotoSansKR-Light.woff") format("woff"); */
  src: url("../font/Noto_Sans_KR/NotoSansKR-Light.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  /* src: url("../font/Noto_Sans_KR/NotoSansKR-Regular.eot");
  src: url("../font/Noto_Sans_KR/NotoSansKR-Regular.eot?#iefix") format('embedded-opentype');
  src: url("../font/Noto_Sans_KR/NotoSansKR-Regular.woff2") format("woff2");
  src: url("../font/Noto_Sans_KR/NotoSansKR-Regular.woff") format("woff"); */
  src: url("../font/Noto_Sans_KR/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  /* src: url("../font/Noto_Sans_KR/NotoSansKR-Medium.eot");
  src: url("../font/Noto_Sans_KR/NotoSansKR-Medium.eot?#iefix") format('embedded-opentype');
  src: url("../font/Noto_Sans_KR/NotoSansKR-Medium.woff2") format("woff2");
  src: url("../font/Noto_Sans_KR/NotoSansKR-Medium.woff") format("woff"); */
  src: url("../font/Noto_Sans_KR/NotoSansKR-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  /* src: url("../font/Noto_Sans_KR/NotoSansKR-Bold.eot");
  src: url("../font/Noto_Sans_KR/NotoSansKR-Bold.eot?#iefix") format('embedded-opentype');
  src: url("../font/Noto_Sans_KR/NotoSansKR-Bold.woff2") format("woff2");
  src: url("../font/Noto_Sans_KR/NotoSansKR-Bold.woff") format("woff"); */
  src: url("../font/Noto_Sans_KR/NotoSansKR-Bold.otf") format("opentype");
}
